:where(h1, h2, h3, h4) .anchor {
	text-decoration: none;
}

:where(h1, h2, h3, h4) .anchor:hover,
:where(h1, h2, h3, h4) .anchor:focus {
	text-decoration: underline;
}

/* 768px */
@media screen and (min-width: 48rem) {
	:where(h1, h2, h3, h4):has(.anchor) {
		position: relative;
	}

	:where(h1, h2, h3, h4) .anchor {
		margin-right: 0.5rem;
		position: absolute;
		right: 100%;
	}
}

:where(.Post__content, .Page__content) > * + * {
	margin-block-start: var(--content-body-spacing);
}

:where(.Post__content, .Page__content) :is(h1, h2, h3, h4) {
	margin-block-start: var(--content-title-spacing);
}

:where(.Post__content, .Page__content) pre[class*="language-"] {
	margin-block-start: var(--content-body-spacing);
}
