@font-face {
	font-family: AtkinsonHyperLegible;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(/fonts/AtkinsonHyperlegible-Bold.ttf);
}

@font-face {
	font-family: AtkinsonHyperLegible;
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url(/fonts/AtkinsonHyperlegible-BoldItalic.ttf);
}

@font-face {
	font-family: AtkinsonHyperLegible;
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/AtkinsonHyperlegible-Italic.ttf);
}

@font-face {
	font-family: AtkinsonHyperLegible;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/AtkinsonHyperlegible-Regular.ttf);
}
