:root {
	--light--background-color: #f2f2f2;
	--light--color: #222;
	--light--color--accent: #0c5298;
	--light--panel--background-color: rgba(0, 0, 0, 0.05);
	--light--panel--background-color--hover: rgba(0, 0, 0, 0.1);

	--dark--background-color: #06273b;
	--dark--color: #bccdd8;
	--dark--color--accent: #84b1f9;
	--dark--panel--background-color: rgba(255, 255, 255, 0.05);
	--dark--panel--background-color--hover: rgba(255, 255, 255, 0.1);

	--ThemeToggle--light--border-color: #6399b0;
	--ThemeToggle--dark--border-color: #1c2c33;

	--width--reading: 60ch;

	--canvas--background-color: var(--light--background-color);
	--canvas--color: var(--light--color);
	--canvas--max-width: 80rem;

	--article--max-width: 80ch;
	--article--reading--max-width: var(--width--reading);

	--panel--background-color: var(--light--panel--background-color);
	--panel--background-color--hover: var(--light--panel--background-color--hover);

	--ThemeToggle--border-color: var(--ThemeToggle--light--border-color);

	--color--accent: var(--light--color--accent);

	--content-body-spacing: 1.5rem;
	--content-title-spacing: 3rem;
}

/* Fallback no-JS dark mode with JS light mode override */
@media (prefers-color-scheme: dark) {
	:root:not([data-prefers-theme="light"]) {
		--canvas--background-color: var(--dark--background-color);
		--canvas--color: var(--dark--color);
		--color--accent: var(--dark--color--accent);
		--panel--background-color: var(--dark--panel--background-color);
		--panel--background-color--hover: var(--dark--panel--background-color--hover);

		--ThemeToggle--border-color: var(--ThemeToggle--dark--border-color);
	}
}

/* Light mode JS override for dark mode */
:root[data-prefers-theme="dark"] {
	--canvas--background-color: var(--dark--background-color);
	--canvas--color: var(--dark--color);
	--color--accent: var(--dark--color--accent);
	--panel--background-color: var(--dark--panel--background-color);
	--panel--background-color--hover: var(--dark--panel--background-color--hover);

	--ThemeToggle--border-color: var(--ThemeToggle--dark--border-color);
}


html {
	background-color: var(--canvas--background-color);
	color: var(--canvas--color);
	font-family: AtkinsonHyperLegible, system-ui;
	font-weight: 400;
	transition: background-color 250ms ease;
}

body {
	font-size: 1.25rem;
	line-height: 1.6;
	max-width: 80rem;
	margin-inline: auto;
	padding: 1.5rem;
}

/* 768px */
@media screen and (min-width: 48rem) {
	body {
		display: flex;
		flex-direction: column;
	}
}

a {
	color: var(--color--accent);
}

a:visited {
	text-decoration-color: currentColor;
}

a[aria-current="page"],
a:hover {
	text-decoration-style: double;
}

abbr {
	cursor: help;
}

main {
	margin-top: 3rem;
}

@media screen and (min-width: 156rem) {
body::after {
	bottom: 1rem;
	content: "👋🏻 O hai";
	display: block;
	opacity: 0;
	position: fixed;
	right: 1rem;
	transform: translateY(100%);
	transition: opacity 250ms ease, transform 250ms ease-in;
}
}

/* 2560px */
@media screen and (min-width: 159rem) {
	body::after {
		opacity: 1;
		transform: translateY(0);
	}
}
