/* https://andy-bell.co.uk/my-favourite-3-lines-of-css/ */
.stack > * + * {
  margin-block-start: var(--content-body-spacing);
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.prefers-color-scheme-light {
	color-scheme: light;
}

.prefers-color-scheme-dark {
	color-scheme: dark;
}
