---
layout: layouts/page.njk
eleventyNavigation:
  key: Blog
  order: 2
title: Blog
---

{% set postCount = collections.posts | length %}
{%- if postCount === 0 %}
	<p>Sorry, it's a little quiet here at the moment.</p>
{% else %}
	{% set postslist = collections.posts %}
	{% include "postslist.njk" %}
{% endif %}
