---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---
{%- css %}{% include "public/css/blocks/Intro.css" %}{% endcss %}
{%- css %}
	.stack + .stack { margin-block-start: 1.5rem; }
	.stack h1 { font-size: 1.5rem; }
{% endcss %}

<section class="Intro stack">
	<p>Hi, I'm Jon. I'm a front-end, turned a-bit-of-everything, developer based
		in the North East of England. Durham, to be more specific.</p>
	<p>I wrote my first program (with a lot of help) when I was 3, but I've been
		doing it for a living since 2001.</p>
	<p>I was diagnosed as autistic as an adult in 2019 a couple of years after our
		eldest child received their diagnosis. I'm the husband of Kerry and a German
		Shepherd owner.</p>
	<p>When I were a lad (👴🏻) we used to learn by "view: source"-ing a web page
		and copying parts of it into a text-editor. These days so much of that
		experience is hidden behind compilers and bundlers. I'll write about
		whatever I think of, across a range of ability levels, and this site code will
		always be available on
		<a href="https://gitlab.com/jonspark/personal-site">Gitlab</a>. I'm by no
		means a writer, but I hope that I can share some useful information.</p>

	<ul>
		<li>
			I own and run a small Web agency,
			<a href="https://incrementby.one/">Increment By One</a>.
		</li>
		<li>
			I'm building a blind recruitment
			<abbr title="Software as a Service">SaaS</abbr> called
			<a href="https://howdee.io/">Howdee</a>.
		</li>
		<li>
			I sometimes post on <a href="https://howdee.social/@jonspark">Mastodon</a>
			and cross-post (for now) to
			<a href="https://twitter.com/jonspark" rel="me">Twitter</a>.
		</li>
		<li>
			I don't post very much, but you can also find me on
			<a href="https://www.linkedin.com/in/jonspark/" rel="me">LinkedIn</a>.
		</li>
	</ul>
</section>

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
{%- if postsCount > 0 %}
<section class="stack">
	<h1>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1>

	{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
	{% set postslistCounter = postsCount %}
	{% include "postslist.njk" %}

	{% set morePosts = postsCount - numberOfLatestPostsToShow %}
	{% if morePosts > 0 %}
	<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/blog/">the archive</a>.</p>
	{% endif %}
</section>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
