{%- css %}{% include "public/css/blocks/SiteFooter.css" %}{% endcss %}

<footer class="SiteFooter">
	<nav class="SiteNavigation">
		<p class="visually-hidden">Auxiliary navigation</p>

		<ul class="SiteNavigation__items">
			<li>
				<a href="/tags" {% if page.url === '/tags/' %} aria-current="page"{% endif %}>Tags</a>
			</li>
			<li>
				<a href="/feed/feed.xml">RSS</a>
			</li>
			<li>
				<a href="https://howdee.social/@jonspark" rel="me">Mastodon</a>
			</li>
		</ul>
	</nav>

	<small>Copyright &copy; 2023+ Jon Park.</small>
</footer>
