{%- css %}{% include "public/css/blocks/SiteHeader.css" %}{% endcss %}
{%- css %}{% include "public/css/blocks/SiteTitle.css" %}{% endcss %}
{%- css %}{% include "public/css/blocks/SiteNavigation.css" %}{% endcss %}
{%- css %}{% include "public/css/blocks/ThemeToggle.css" %}{% endcss %}

{%- js %}
	const $switch = document.getElementById('js--theme-preference');
	const $inputs = $switch.querySelectorAll('input');
	const $initialInput = $switch.querySelector(`[value="${themePreference}"]`);
	$initialInput.checked = true;

	document.addEventListener('DOMContentLoaded', function () {
		$inputs.forEach($input => {
			$input.addEventListener('change', (ev) => {
				const { value } = ev.target;

				localStorage.setItem('prefersTheme', value);
				updateThemePreference();
			})
		});
	});
{% endjs %}

<header class="SiteHeader">
	<a class="SiteHeader__home" href="/">
		<h1 class="SiteTitle">
			<img class="SiteTitle__image" src="/img/jon-park--small.jpg" alt="" />
			{{ metadata.title }}
		</h1>
	</a>

	{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
	<nav class="SiteNavigation">
		<h2 class="visually-hidden">Top level navigation menu</h2>

		<ul class="SiteNavigation__items">
		{%- for entry in collections.all | eleventyNavigation %}
			<li>
				<a class="SiteNavigation__link" href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a>
			</li>
		{%- endfor %}
		</ul>
	</nav>

	<div class="ThemeToggle" id="js--theme-preference">
		<h2 class="visually-hidden">Colour preference options</h2>

		<input class="ThemeToggle__input" type="radio" id="theme-preference--light" name="theme-preference" value="light" />
		<label class="ThemeToggle__label" for="theme-preference--light" title="Switch to a light theme.">
			<span class="ThemeToggle__icon">☀️</span>
			<span class="visually-hidden">Light</span>
		</label>

		<input class="ThemeToggle__input" type="radio" id="theme-preference--dark" name="theme-preference" value="dark" />
		<label class="ThemeToggle__label" for="theme-preference--dark" title="Switch to a dark theme.">
			<span class="ThemeToggle__icon">🌙</span>
			<span class="visually-hidden">Dark</span>
		</label>
	</div>
</header>
