{%- css %}{% include "public/css/blocks/PostNavigation.css" %}{%- endcss %}

<nav class="PostNavigation" data-position="{% if not previousPost %}start{% elif not nextPost %}end{% else %}middle{% endif %}">
	<ul class="PostNavigation__items">
		{%- if previousPost %}
			<li class="PostNavigation__item" data-direction="previous">
				<span class="PostNavigtion__label">
					<span aria-hidden>&laquo;</span>
					Previous article<span class="visually-hidden">:</span>
				</span>
				<a class="PostNavigation__link" href="{{ previousPost.url }}">
					{{ previousPost.data.title }}
				</a>
			</li>
		{% endif %}
		{%- if nextPost %}
			<li class="PostNavigation__item" data-direction="next">
				<span class="PostNavigtion__label">
					Next article<span class="visually-hidden">:</span>
					<span aria-hidden>&raquo;</span>
				</span>
				<a class="PostNavigation__link" href="{{ nextPost.url }}">
					{{ nextPost.data.title }}
				</a>
			</li>
		{% endif %}
	</ul>
</nav>
