.Post {
	max-width: var(--article--max-width);
}

.Post__metadata {
	margin-top: 1.5rem;
}

.Post__metadata .MetaData__title::after {
	content: ':'
}

.Post__metadata :is(.MetaData__item, .MetaData__title)[data-type="date"] {
	display: inline-block;
}

.Post__metadata .MetaData__title[data-type="date"] ~ .MetaData__title[data-type="date"] {
	margin-left: 1rem;
}

.Post__metadata .MetaData__title[data-type="tag"] {
	margin-top: 1.5rem;
}

.Post__metadata .MetaData__item[data-type="tag"] {
	display: inline-block;
}

.Post__content {
	margin-top: 1.5rem;
}

.Post__content :is(p, li) {
	max-width: var(--article--reading--max-width);
}

.Post :is(h1, h2, h3, h4, h5, h6) {
	position: relative;
}

.Post :is(h1, h2, h3, h4, h5, h6) .header-anchor {
	margin-right: 0.5rem;
	position: absolute;
	right: 100%;
}
