.PostNavigation {
	margin-top: 3rem;
	max-width: var(--article--max-width);
}

/* 768px */
@media screen and (min-width: 48rem) {
	.PostNavigation {
		margin-top: 6rem;
	}
}

.PostNavigation__items {
	display: flex;
	flex-direction: column;
	list-style: none;
	gap: 1rem;
}

/* 768px */
@media screen and (min-width: 48rem) {
	.PostNavigation__items {
		align-items: stretch;
		flex-direction: row;
	}
}

.PostNavigation[data-position="start"] .PostNavigation__items {
	justify-content: flex-end;
}

.PostNavigation__item {
	flex: 1 1 auto;
	position: relative;
}

/* 768px */
@media screen and (min-width: 48rem) {
	.PostNavigation__item {
		display: flex;
		flex-direction: column;
		max-width: 50%;
	}
}

.PostNavigation__item[data-direction="next"] {
	text-align: right;
}

.PostNavigation__link {
	background-color: var(--panel--background-color);
	border-radius: 0.25rem;
	display: block;
	padding: 1rem;
	transition: background-color 250ms ease;
}

/* 768px */
@media screen and (min-width: 48rem) {
	.PostNavigation__link {
		flex-grow: 1;
	}
}

.PostNavigation__link:hover {
	background-color: var(--panel--background-color--hover);
}
