.SiteTitle {
	align-items: center;
	color: var(--canvas--color);
	display: flex;
	font-size: 1.5rem;
	gap: 1rem;
	max-width: fit-content;
	padding-right: 1em;
	text-decoration: none;
}

.SiteTitle__image {
	aspect-ratio: 1;
	border-radius: 100%;
	height: auto;
	width: 3rem;
}
