.SiteFooter {
	margin-top: 6rem;
}

/* 768px */
@media screen and (min-width: 48rem) {
	.SiteFooter {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		margin-top: auto;
		padding-top: 6rem;
	}
}
