.ThemeToggle {
	border: 2px solid var(--ThemeToggle--border-color);
	border-radius: 1rem;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	transition: border-color 250ms ease;
}

.ThemeToggle {
	height: 2rem;
	width: 4rem;
}

.ThemeToggle__label {
	align-items: center;
	display: flex;
	inset: 0;
	justify-content: flex-start;
	line-height: 1;
	padding: 0.25rem;
	position: absolute;
	z-index: 50;
}

.ThemeToggle__input:checked + .ThemeToggle__label {
	z-index: 10;
}

.ThemeToggle__label::after {
	content: '';
	display: block;
	position: absolute;
	top: -2px;
	right: -2px;
	bottom: -2px;
	left: -2px;
	transition: opacity 250ms ease-in;
	opacity: 0;
	z-index: 10;
}

.ThemeToggle__input[value="light"] + .ThemeToggle__label::after {
	background: linear-gradient(to bottom, #b7eaff 0%, #94dfff 100%);
}

.ThemeToggle__input[value="dark"] + .ThemeToggle__label::after {
	background: linear-gradient(to bottom, #020111 10%, #3a3a52 100%);
}

.ThemeToggle__icon {
	margin-inline: 0.25rem;
	position: relative;
	transform: translateY(150%);
	transition: transform 250ms ease-in;
	z-index: 20;
}

.ThemeToggle__input:checked + .ThemeToggle__label .ThemeToggle__icon {
	transform: translateY(0);
}

.ThemeToggle__input:checked + .ThemeToggle__label::after {
	opacity: 1;
	z-index: 15;
}

.ThemeToggle__label[for="theme-preference--dark"] {
	justify-content: flex-end;
}

.ThemeToggle .ThemeToggle__input {
	position: absolute;
	visibility: hidden;
	z-index: -10;
}
