/* WouldYouLikeToKnowMore */
.WYLTKM {
	background-color: var(--panel--background-color);
	border: 1px solid var(--panel--border-color, grey);
	border-radius: 0.25rem;
	padding: 1rem;
	max-width: var(--width--reading);
	transition: background-color 250ms ease;
}

@supports selector(:has(+ *)) {
	.WYLTKM:has(summary:hover) {
		background-color: var(--panel--background-color--hover);
	}
}

.WYLTKM details > * + * {
  margin-block-start: var(--content-body-spacing);
}
