<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		<meta name="generator" content="{{ eleventy.generator }}">

		{# All the favicons! #}
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#00aba9">
		<meta name="theme-color" content="#ffffff">

		<script>
			window.updateThemePreference = function () {
				const themeOverride = localStorage.getItem('prefersTheme');
				const defaultPreference = matchMedia && matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';

				window.themePreference = themeOverride || defaultPreference
				document.documentElement.dataset.prefersTheme = themePreference;
			}

			updateThemePreference();
		</script>

		{#-
			CSS bundles are provided via the `eleventy-plugin-bundle` plugin:
			1. You can add to them using `{% css %}`
			2. You can get from them using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
			3. You can do the same for JS: {% js %}{% endjs %} and <script>{% getBundle "js" %}</script>
			4. Learn more: https://github.com/11ty/eleventy-plugin-bundle
		#}

		{#- Add an arbitrary string to the bundle #}
		{# {%- css %}* { box-sizing: border-box; }{% endcss %} #}
		{#- Add the contents of a file to the bundle #}
		{%- css %}{% include "public/css/reset.css" %}{% endcss %}
		{%- css %}{% include "public/css/fonts.css" %}{% endcss %}
		{%- css %}{% include "public/css/global.css" %}{% endcss %}
		{%- css %}{% include "public/css/utils.css" %}{% endcss %}
		{%- css %}{% include "public/css/content.css" %}{% endcss %}
		{%- css %}{% include "public/css/blocks/UnderConstruction.css" %}{% endcss %}
		{#- Or add from node_modules #}
		{# {%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %} #}

		{#- Render the CSS bundle using Inlined CSS (for the fastest site performance in production) #}
		<style>{% getBundle "css" %}</style>

		{% if project.environment === 'production' %}
			<script defer data-domain="jonpark.co.uk" src="https://plausible.io/js/script.js"></script>
		{% endif %}
	</head>
	<body>
		<a href="#skip" class="visually-hidden">Skip to main content</a>

		{% include "header.njk" %}

		<aside class="UnderConstruction">
			<p><span aria-hidden="true">💻</span> Sorry if things look a little plain or broken, I'm adding new features as I go.</p>
		</aside>

		<main id="skip">
			{{ content | safe }}
		</main>

		{% include "footer.njk" %}

		<!-- Current page: {{ page.url | htmlBaseUrl }} -->
		<script>{% getBundle "js" %}</script>
	</body>
</html>
