---
layout: layouts/base.njk
---
{%- css %}{% include "public/css/blocks/Page.css" %}{%- endcss %}
<div class="Page stack">
	{% if title %}
		<header class="Page__header">
			<h1 class="Page__title">{{ title }}</h1>

			{% if updatedAt %}
				<p><small>Last updated: {{ updatedAt | htmlDateString }}</small></p>
			{% endif %}
		</header>
	{% endif %}

	<div class="Page__content">
		{{ content | safe }}
	</div>
</div>
