---
layout: layouts/base.njk
---
{%- css %}
{% include "public/css/blocks/Post.css" %}
{% include "public/css/blocks/WouldYouLikeToKnowMore.css" %}
{% include "node_modules/prismjs/themes/prism-okaidia.css" %}
{% include "public/css/prism-diff.css" %}
{%- endcss %}

<article class="Post">
	<header>
		<h1 class="Post__title">{{ title }}</h1>

		<dl class="MetaData Post__metadata">
			<dt class="MetaData__title" data-type="date">Posted at</dt>
			<dd class="MetaData__item" data-type="date">
				<time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
			</dd>
			{%- if updatedAt %}
			<dt class="MetaData__title" data-type="date">Updated at</dt>
			<dd class="MetaData__item" data-type="date">
				<time datetime="{{ updatedAt | htmlDateString }}">{{ updatedAt | readableDateTime }}</time>
			</dd>
			{%- endif %}
			{%- if tags %}
				<dt class="MetaData__title" data-type="tag">Tags</dt>
				{%- for tag in tags | filterTagList %}
					{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
					<dd class="MetaData__item" data-type="tag">
						<a href="{{ tagUrl }}" class="Post__tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}
					</dd>
				{%- endfor %}
			{%- endif %}
		</dl>
	</header>

	<div class="Post__content">
		{{ content | safe }}
	</div>
</article>

{%- if collections.posts %}
	{%- set previousPost = collections.posts | getPreviousCollectionItem %}
	{%- set nextPost = collections.posts | getNextCollectionItem %}
	{%- if nextPost or previousPost %}
		{% include "../postNavigation.njk" %}
	{%- endif %}
{%- endif %}
